{%- if results.results_count -%}

{%- else -%}

  <h2>
    Collections
  </h2>

{% assign sorted_collections = collections | sort: 'title' %}

{% for collection in sorted_collections %}

  {% if collection.handle != 'all' and collection.handle != 'featured' and collection.handle != 'Featured' %}
        <a href="{{ collection.url }}" class="collectionLink">{{ collection.title }}</a>
    {% endif %}

{% endfor %}

<hr/>

{%- endif -%}